h3
{
    color: white;
    font-family: impact;
    font-size: xx-large;
}

body
{
    background-size: cover;
}

#myCanvas
{
	border-width:10px;
	background-image: "Mushroom_village.webp";
	border-style:ridge;
}